@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao&family=Roboto:wght@100&family=Satisfy&display=swap');

*{
    margin: 0;
    /* padding: 0; */
}

/* header styling */
.header{
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
    /* display: -moz-inline-stack; */
    /* display: table-column-group; */
    /* display: table-cell; */
    /* display: ruby-base-container; */
    /* display: table-column; */
    /* display: list-item; */
    /* display: inline-flexbox; */
    /* display: table-row-group; */
    /* display: -ms-flexbox; */
    /* display: -ms-inline-flexbox; */
    /* display: inline-flex; */
    /* flex-direction: row; */
}
.profile{
    background: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(188, 84, 84);


}
.navbar{
    background: transparent;
    border: none;
    font-size: 1.7rem;
}
.home{
    margin-top: 10px;
}
/* end of header styling */

/* beginning of main styling */
.container{
     /* background: url(../src/images/food1.jpeg); */
     /* width: 100%;  */
    /* height: 100px;  */
    align-items: center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position-y: top;
    height: 400px;
    position: relative;
    /* justify-content: center; */
    /* text-align: center; */
   
     /* height: ;  */
}
.img-main{
    width: 100%; 
    height: 100%;
    background-position-y: top;

}
.name{
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translateX(-30%, -30%);
    
    /* background-color: aquamarine; */

}
.com-name{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    background: url("https://images.pexels.com/photos/323682/pexels-photo-323682.jpeg?auto=compress&cs=tinysrgb&w=800");
    color: transparent;
    -webkit-text-stroke: 1px #fff; 

    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: back 8s linear infinite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: 2px 4px 4px rgba(0, 0, 0, .5);

    /* color: transparent; */
    /* -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('+https://www.pexels.com/photo/salad-on-a-plate-2097090/+'); */
    /* width: 100px; */
}
@keyframes back {
    100%{
        background-position: 2000px 0;
    }
    
}



/* end of main styling */
.filtered-category{
    margin: 0 10px;
    background: transparent;
    border: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease-out;
    /* margin-left: 20px; */
    /* background: transparent; */
    /* border-color: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem; */
    /* letter-spacing: 1px; */
    /* padding: 0.375rem 0.75rem; */
}
.filtered-category:hover{
    background-color: rgb(223, 93, 46);
    color: whitesmoke;
    padding: 5px;
    border-radius: 2px;

}


/* beginning of category styling */


/* beginning of menu styling */
.img-menu{
    max-width: 85%;
    border:  2px solid rgb(223, 93, 46);
    border-radius: 5px;
    /* height: 120px; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
}

.article{
    /* display: flex; */
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}


.section-center{
    width: 90vw;
    margin: 15px auto;
    /* max-width: 1170px; */
    display: grid;
    
    gap: 2rem 2rem;
    /* justify-items: center; */
    /* background-color: aquamarine; */
}
.menu-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 0rem;
    /* box-shadow: ; */
    /* max-width: 25rem; */
  }
  .item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted rgb(159, 156, 156);
    /* border-bottom: 0.5px dotted var(--clr-grey-5); */
  }
  .rev-btnContainer{
    display: flex;
    justify-content: space-around;
  }
/* end  of menu styling  */
/* .btn{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    width: 100px;
} */


/* end of category styling */

/* beginning of reviews styling */
.rev-article{
    background-color: rgb(245, 217, 207);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 350px;
    flex-direction: column;
    margin: 4rem 0;
    padding: 5px;
}
.rev-container{
    background-color: whitesmoke;
    width: 80%;
    height: 250px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    /* animation: animate 15s infinite linear;
    animation-delay: 1s; */
}
.img-reviews{
    text-align: center;
    margin-top: 20px;
}
.image-reviews{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.reviews-info{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(51, 50, 50);
}
.rev-text{
    margin: 10px 20px;
    color: rgb(51, 50, 50);
}
.rev-button{
    background: transparent;
    border: none;
    font-size: 2rem;
}
.rev-words{
    color: rgb(51, 50, 50);
    margin-bottom: 1.5rem;
}

/* @keyframes animate {
    0%{
        transform: translateX(100%) scale(0.5);
    }
    50%{
        transform: translateX(100%) scale(0.7);
    }
    
} */

/* end of reviews styling */

/* beginning of followus styling */
.followus{
   
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.follow-div{
    width: 80%;
    height: 300px;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    
    background-color: rgb(230, 227, 226);

}
.follow-img{
    position: absolute;
    right: 7%;
    top: 5%;
    /* bottom: 0%; */
    /* background-color: aqua; */
    width: 200px;
    text-align: end;


}
.follow-image{
    max-width: 50%;
    rotate: 20deg;
}
.playstore{
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    left: 0%;
    /* background-color: aquamarine; */
    height: 100px;
    width: 180px;
    padding: 10px;

}
.getapp{
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    font-family: 'Satisfy', cursive;
    font-size:1.5rem;
    /* font-family: 'Noto Sans Lao', sans-serif,'Roboto'; */
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy', cursive; */
    margin-bottom: 20px;


}
.playstore-img{
    position: absolute;
    bottom: 0%;
    left: 10%;
    display: flex;
    max-width: 200px;
  

}
.app-image{
    max-width: 50%;
    margin-right: 20px;
}
.play-image{
    max-width: 50%;

}
.limitless-h3{
    /* text-transform: capitalize; */
    color: rgb(71, 70, 70);
}

/* end of follow us styling */

/* beginning of footer */
.footer{
    background-color:black ;
    color: whitesmoke;
    margin-top: 3rem;
    padding: 20px;
    line-height: 1.6; 
    
}
.all-rights{
    color: rgb(198, 194, 194);
}
.socials{
    display: flex;
    font-size: 1.7rem; 
    margin-bottom: 2rem;

}
/* end of footer */

/* beginninng of navabar styling */
.nav{
    height: 440px;
    background-color: white;
    position: absolute;
    right: 0%;
    top :10%;
    z-index: 1;
    width: 150px;
    transition: all 0.3s ease-out;
}
ul li{
    list-style-type: none;
    margin: 20px;
}

/* end of navbar styling */

/* ?beginning of styling for cat nav  */

.cat-h2{
    color: rgb(223, 93, 46);
    text-align: center;

}
.cat-p{
    margin: 1rem 1.5rem;
    color: rgb(86, 84, 84);
    font-weight: bold;
}
/* .cat-info{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.cat-details{
    display: flex;
    justify-content: space-between;
}


/* TRYING OUT STYLES  keep for bigger screen style*/
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between; */
}
/* .col-2{
    flex: 2;
} */
.block{
    padding: 1rem;
    background-color: bisque;
    margin: 0.5rem;
    border-radius: 0.5rem;
}
.row-center{
    align-items: center;
}
img.small{
    max-width: 8rem;
}
/* end of styling cat nav */

/* beginning of order now btn styling Home page */
.ordernow-span{
    /* background-color:  transparent; */
    /* margin-left: 5px; */
}
.ordernow-btn{
    background-color:  transparent;
    color: rgb(223, 93, 46);
    border-radius: 5px;
    border: 1px solid rgb(223, 93, 46);
    /* border: none; */
}
/* end of order now btn styling Home page */

.btn-container {
    
    text-align: center;
   
   
  }
  .img{
    max-width: 50%;
    height: auto;
  }
  .article{
    max-width: 50%;
  }
  .question-info{
    max-width: 50%;
  }
/* .info{
    display: none;
} */